.sertifikat__title {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #2c2d2e;
  padding-bottom: 30px;
  span {
    color: #ef7c00;
  }
}
